/* COUNTDOWN */
#countdown {
    width: 90%;
    margin: auto;
    display: block;
}

#countdown label {
    clear: both;
    display: block;
    font-weight: 100;
    font-size: 0.5em;
}

#countdown span {
    background: #313233;
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    width: 16.66%;
    display: block;
    float: left;
    border-right: 1px solid #FFF;
    padding-top: 6px;
},

#countdown span.value {
    border: 1px solid white;
    padding-top: 4px;
}

#countdown span.sep {
    width: 6%;
    text-align: center;
    font-size: 5em;
    padding-top: 2.1%;
    padding-bottom: 2.1%;
}

#countdown span:last-child {
  border-right: 1px solid #313233;
}


/*<!-- EVERGREEN -->*/

#timermonster {
    width: 96%; 
    margin: auto;
    display: block;
}
#timermonster .timer-monster-box:after {
    content: '';
    clear: both;
    display: block;
}
#timermonster pre {
    display: block;
    font-family: monospace;
    margin: 0;
    padding: 0;
    background: initial;
    white-space: initial;
    word-break: initial;
    word-wrap: initial;
}
#timermonster div {
    line-height: initial;
}
.timer-monster-box {
    width: 100%;
    text-align: center;
    margin: 0 auto; 
}

.timer-monster-column {
    width: 21.25%;
}
.timer-monster-separator {
    width: 5%; 
}
.timer-monster-top {
    font-size: 25px;
}
.timer-monster-bottom {
    font-size: 12px;
}

.rect .timer-monster-top {
    font-size: 50px;
}

.rect .timer-monster-bottom {
    font-size: 16px;
}

@media  only screen and (min-width : 360px) {
    .timer-monster-top {
        font-size: 28px;
    }
}

@media  only screen and (min-width : 480px) {
    .timer-monster-column {
        width: 19%;
    }
    .timer-monster-separator {
        width: 8%; 
    }
    .timer-monster-top {
        font-size: 50px;
    }
    .timer-monster-bottom {
        font-size: 16px;
    }
}

.timer-monster-column, .timer-monster-separator {
    float: left;
    color: #000;
}

@media  only screen and (min-width : 768px) {
    .timer-monster-top {
        font-size: 80px;
    }
    .timer-monster-bottom {
        font-size: 20px;
    }
}

#timermonsterbar {
    display: block;
    width: 100%;
    background-color: white;
    margin: 0;
    color: black;
    text-align: center;
}
#timermonsterbar .tmb-col {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
#timermonsterbar #timermonster {
    width: 100%;
}
#timermonsterbar #timermonster pre {
    overflow: initial;
    margin: 0!important;
    padding: 0!important;
    border: initial!important;
    font-family: monospace!important;
    background: initial!important;
}

.tmb-col .timer-monster-column {
    width: auto;
}
.tmb-col .timer-monster-separator {
    width: auto;
}
a.icon-twitter-sign{color:#00ACEE}
a.icon-facebook-sign{color:#374F8A}
a.icon-pinterest-sign{color:#CB2027}
a.icon-linkedin-sign{color:#1582BB}
a.icon-youtube-sign{color:#CC181E}
a.icon-rss-sign{color:#E4722D}
.tmb-col>left-img,.tmb-col>right-img{max-width:96px;height:auto}
.tm-social-icon{font-size: 30px;}