@import 'now-ui-kit.scss';
@import './node_modules/bootstrap-colorpicker/src/sass/_colorpicker.scss';

.error-control, .error__control {
    color: $danger-color;
    font-size: 80%;
}

.error {
    &__control {
        color: $danger-color;
        font-weight: bold;
    }
    &__bg {
        background: #ffcdd2!important;
    }
}

.btn-see-in-action {
    margin-left: 14px;
    margin-top: 20px;
    text-transform: capitalize;
}

.flash {
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 2px;
}

.not__found {
    box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
    background: #fff;
    padding: 15px;
    width: 960px;
    margin: 30px auto;
}

.login-page {
    .checkbox label::after {
        color: #ffffff80;
    }
}

.slide-form-wrapper {
    
}

.bordered-right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(128, 128, 128, 0.35);
}

.form-inner-wrapper {
    .section:first-child {
        margin-top: 70px;
    }
    .section {
        border: solid #f7f7f9;
        margin-bottom: 4px;
    }    

    @media (min-width: 576px) {
        .section {
            padding: 1.5rem;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-bottom: 0.4rem;
            border-width: .2rem;
        }
    }
}

.has-success:after, .has-danger:after {
    right: 25px;
}

.custom-select {
    max-width: 350px;
}

.login-page .card-login .logo-container {
  width: 120px;
}